/* Basic setup */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

body {
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  display: block;
}

/* variables */

:root {
  /* Colors */
  --highlight-color: #41b9ba;
  --highlight-white: #fff;
  --dark-black: black;

  /* Padding and Margin */
  --top-banner-common-gap: 0.75rem;
  --addtional-text-margin: 4%;
}

/* Header top banner */

.top-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--dark-black);
  padding-top: 0.25rem;
  padding-bottom: 0.36rem;
  font-size: 0.75rem;
}

.top-banner img {
  display: inline-block;
}

.top-banner a {
  text-decoration: none;
  color: var(--highlight-white);
}

.contact {
  display: flex;
  gap: var(--top-banner-common-gap);
  margin-left: var(--top-banner-common-gap);
}

.socials ul {
  list-style-type: none;
  display: flex;
  gap: var(--top-banner-common-gap);
  margin-bottom: 0;
  margin-right: var(--top-banner-common-gap);
}

@media only screen and (max-width: 500px) {
  .contact-phone a {
    display: none;
  }

  .contact-email a {
    display: none;
  }
}

@media only screen and (max-width: 232px) {
  .top-banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .socials ul {
    margin: 0;
    padding: 0;
  }
}

/* Header navbar */

.nav-link {
  color: var(--dark-black);
}

.navbar {
  padding: 1.5rem 1rem;
}

.navbar-nav {
  margin-left: 0rem;
  text-align: center;
}

.nav-item {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .nav-item {
    padding-left: 2.75em;
    padding-right: 1em;
  }
}

/* Main hero image*/

.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
}

.overlay-hero {
  position: absolute;
  top: 90px;
  margin-inline: 7.5rem;
  font-size: 0.8rem;
  color: var(--highlight-white);
}

.overlay-hero h2 {
  background-color: var(--highlight-color);

  margin-bottom: 0;
  padding: 0.4rem 2.5rem 0.2rem 0.4rem;
  font-size: 1.5em;
  font-weight: bold;
}

.overlay-hero p {
  background-color: rgba(11, 14, 19, 0.75);
  font-size: 1.375em;
  padding: 0.4rem 1.1rem 0.3rem 0.4rem;
  line-height: 32px;
}

@media only screen and (min-width: 970px) {
  .hero img {
    height: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .overlay-hero {
    top: 0px;
    margin-inline: 1rem;
    font-size: 0.5rem;
  }

  .overlay-hero h2 {
    padding-right: 0.5rem;
  }

  .overlay-hero p {
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .overlay-hero {
    font-size: 1rem;
    position: static;
    text-align: center;
  }

  .overlay-hero h2 {
    display: block;
    background-color: transparent;
    color: var(--highlight-color);
  }

  .overlay-hero p {
    display: block;
    background-color: transparent;
    color: rgba(46, 46, 46, 0.82);
  }
}

/* Main showcase */

.showcase {
  margin-top: 3.25rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.showcase-item {
  display: flex;
  flex-direction: column;
  flex-basis: 25rem;
}

.showcase-item img {
  display: inline-block;
  width: 100%;
}

.showcase-text-container {
  margin-top: 5.5rem;
}

.showcase-text-container h2 {
  color: var(--dark-black);
  font-size: 4.5rem;
  font-weight: 300;
}

.showcase-text-container p {
  font-weight: 400;
  line-height: 30px;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}

@media only screen and (max-width: 410px) {
  .showcase-text-container {
    margin-left: 0.5rem;
  }

  .showcase-item img {
    height: auto;
  }
}

/* Additional text */

.additional-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ending-text {
  font-weight: 600;
  line-height: 35px;
  margin-inline: 5%;
  font-size: 1.25rem;
}

.concluding-text {
  font-size: 1.125rem;
  text-align: center;
  margin-top: 2.25rem;
  margin-inline: 3%;
  line-height: 24px;
}

/* Footer */

footer {
  font-size: 0.75rem;
  margin-top: 3.375rem;
  text-align: center;
  background-color: var(--dark-black);
  color: var(--highlight-white);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer div {
  margin-bottom: 0;
}

footer span {
  color: var(--highlight-color);
}